<h1 class="display-4">Emp.Register</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmitFunc(form)">
  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="_service.formData.id">
  
  <div class="form-group">
    <input name="fullName" #fullName="ngModel" [(ngModel)]="_service.formData.fullName" required placeholder="Full Name"
      class="form-control">
    <div *ngIf="fullName.invalid && fullName.touched" class="validation-error">This field is Required</div>
  </div>
  <div class="form-group">
    <input name="position" #position [(ngModel)]="_service.formData.position" placeholder="Position"
      class="form-control">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input name="empCode" #empCode [(ngModel)]="_service.formData.empCode" placeholder="employee Code"
        class="form-control">
    </div>
    <div class="form-group col-md-6">
      <input name="mobile" #mobile [(ngModel)]="_service.formData.mobile" placeholder="Mobile" class="form-control">
    </div>
  </div>

  <div class="form-group">
    <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
  </div>
</form>